.input-container {
  margin-left: none;
}

.link-inp {
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
  height: 25px;
}

.last-link {
  margin-bottom: 95px;
}

@media only screen and (max-width: 768px) {
	.link-inp {
		height:30px;
		margin-bottom: 10px;
	}
}