<form name="locationForm" novalidate ng-submit="nextPage('3_links')">
		<div class="text-container col-xs-12 col-sm-12 col-md-12">
			<p class="text-task">2. Choose country and city</p>

			<select name="userCountry" class="inp top-inp selection col-xs-12 col-sm-8 col-md-8"  ng-model="country"  required ng-options="country for country in countries" >
				<option class="fisrt-option" value="">Country</option>
			</select>
		
			<div class="autocomp-container col-xs-12 col-sm-8 col-md-8">
		        <input name="userCity" type="text" class="inp inp-error col-xs-12 col-sm-12 col-md-12" ng-model="city" uib-typeahead="city as city.name for city in citiesFromCountry | filter:{name:$viewValue}"  typeahead-show-hint="true" typeahead-min-length="0" placeholder="City" ng-pattern="/^[a-zа-яєi ,.'-]+$/i" required/>
	        </div>
		
		{{getCitiesFromCountry ()}}

		</div>
		
		<div class="button-container col-xs-12 col-sm-12 col-md-12">
			<button class="btn prev-btn col-xs-5 col-sm-4 col-md-4" ng-click="nextLinkPage('1_name')"><span class="glyphicon glyphicon-chevron-left"></span>  Previous</button>
			<button type="submit" class="btn next-btn col-xs-5 col-sm-4 col-md-4" ng-disabled="locationForm.$invalid">Next  <span class="glyphicon glyphicon-chevron-right"></span></button>
		</div>
</form>
