<form name="linksForm" novalidate ng-submit="nextPage('final')">
	<div class="">
		<p class="text-task">4. Choose the LIGHT side of the Force</p>
	</div>

	<div class="wide">
		<div class="photo-cont col-xs-10 col-sm-6 col-md-3">		
			<div class="crop 1-photo" style="background-image:url('data/good1.jpg');" ng-click="addPhoto('data/good1.jpg','1')"></div>
		</div>

		<div class="photo-cont col-xs-10 col-sm-6 col-md-3">		
			<div class="crop 2-photo" style="background-image:url('data/good2.jpg');" ng-click="addPhoto('data/good2.jpg','2')"></div>
		</div>
		 
		<div class="photo-cont col-xs-10 col-sm-6 col-md-3 ">		
			<div class="crop 3-photo" style="background-image:url('data/good3.jpg');" ng-click="addPhoto('data/good3.jpg','3')"></div>
		</div>
		
		<div class="photo-cont col-xs-10 col-sm-6 col-md-3 last-photo">		
			<div class="crop 4-photo" style="background-image:url('data/bad4.jpg');" ng-click="addPhoto('data/bad4','4')"></div>
		</div>

		<p class="text-error-message photo-error col-xs-12 col-sm-12 col-md-12">{{Message}}</p>
	</div>


	<div class="button-container col-xs-12 col-sm-12 col-md-12">
		<a href="#3_links" class="btn prev-btn col-xs-5 col-sm-4 col-md-4"><span class="glyphicon glyphicon-chevron-left"></span>  Previous</a>
		<button type="submit" class="btn final-btn col-xs-5 col-sm-4 col-md-4" ng-disabled="!choosePhoto">Finish</button>
	</div>
</form>
